/* Fonts */
@font-face {
    font-family: 'Onest';
    src: local('Onest-Light'), local('Onest-Light'),
        url('../fonts/Onest-Light.woff') format('woff'),
        url('../fonts/Onest-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Onest';
    src: local('Onest Regular'), local('Onest-Regular'),
        url('../fonts/Onest-Regular.woff') format('woff'),
        url('../fonts/Onest-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Onest';
    src: local('Onest Medium'), local('Onest-Medium'),
        url('../fonts/Onest-Medium.woff') format('woff'),
        url('../fonts/Onest-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Onest';
    src: local('Onest Bold'), local('Onest-Bold'),
        url('../fonts/Onest-Bold.woff') format('woff'),
        url('../fonts/Onest-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}