/* Данный файл находится в переработке по оконсанию которой будет ликведирован */

/* Breadcrumbs */
.breadcrumbs {
    margin-bottom: 32px;
}
.breadcrumbs ul {
    display: flex;
    flex-wrap: wrap;
}
.breadcrumbs ul li {
    display: inline-flex;
    align-items: center; 
}
.breadcrumbs ul li:not(:first-child):before {
    content: '>';
    opacity: .8;
    font-size: 13px;
    margin: 0 10px;
}
.breadcrumbs ul li:not(:last-child):before {
    color: #AFB0B0;
}
.breadcrumbs ul li a:hover {
    text-decoration: underline;
}
.breadcrumbs ul li a {
    color: #AFB0B0;
}
.breadcrumbs ul li a, .breadcrumbs ul li span {
    font-weight: 300;
    font-size: 13px;
}

/* Tags styles */
.tags-style1 {
    position: relative;
    z-index: 1;
    margin: -2px;
}
.tags-style1 ul {
    display: flex;
    flex-wrap: wrap;
}
.tags-style1 ul li.active {
    border-color: #FF7B00;
    color: #FF7B00;
}
.tags-style1 ul li:hover {
    text-decoration: underline;
}
.tags-style1 ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30px;
    font-weight: 300;
    transition: all .3s;
    height: 36px;
    padding: 0 16px;
    margin: 2px;
}
.tags-style2 {
    position: relative;
    z-index: 1;
}
.tags-style2 ul {
    display: flex;
    flex-wrap: wrap;
    margin: -2px;
}
.tags-style2 ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    backdrop-filter: blur(3.5px);
    border-radius: 70px;
    color: white;
    font-weight: 300;
    font-size: 14px;
    height: 28px;
    padding: 0 10px;
    margin: 2px;
}
.tags-style3 {
    position: relative;
    z-index: 1;
}
.tags-style3 ul {
    display: flex;
    flex-wrap: wrap;
    margin: -2px;
}
.tags-style3 ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    backdrop-filter: blur(3.5px);
    border-radius: 70px;
    color: white;
    font-weight: 300;
    font-size: 14px;
    height: 34px;
    padding: 0 12px;
    margin: 2px;
}

/* Calc styles */
.calc-style1 {
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid #AFB0B0;
    border-radius: 8px;
    width: 120px;
    height: 36px;
}
.calc-style1_minus, .calc-style1_plus, .calc-style1_field {
    width: 33.33%;
    height: 100%;
}
.calc-style1_minus:hover svg, .calc-style1_plus:hover svg {
    transform: scale(.9);
}
.calc-style1_minus svg, .calc-style1_plus svg {
    margin: 0 auto;
}
.calc-style1_field {
    border: 1px solid #AFB0B0;
    border-top: 0;
    border-bottom: 0;
    font-weight: normal;
    text-align: center;
}

/* Fancybox */
.fancybox-is-open .fancybox-bg {
    opacity: 0.8;
}
.fancybox-bg {
    background: #666;
}
.fancybox-slide--html .fancybox-close-small {
    top: 16px;
    right: 16px;
    padding: 7px;
}
.fancybox-close-small {
    opacity: 1;
    background: #E80055;
    border-radius: 100%;
    transition: all .3s;
    width: 27px;
    height: 27px;
}
.fancybox-close-small:hover svg {
    transform: scale(.9);
}
.fancybox-close-small svg path {
    fill: white;
}

/* Iti */
.iti {
    width: 100%;
    margin-bottom: 8px;  
}

/* Screen Banner */
.banner-wrapper {
    padding-top: 0;
    padding-bottom: 80px;
}
.banner-main {
    display: flex;
    flex-wrap: wrap;
}
.banner-block {
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(100% - 455px);
    padding: 57px 160px 44px 57px;
    margin-right: 8px;
}
.banner-block:before, .banner-block:after {
	content: '';
    position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
}
.banner-block:before {
    right: 0;
    bottom: 150px;
	background-image: url('../img/banner-info-bg1.png');
    width: 18px;
    height: 22px;
}
.banner-block:after {
    right: 150px;
    bottom: 0;
	background-image: url('../img/banner-info-bg2.png');
    width: 22px;
    height: 18px;
}
.banner-info p {
    color: #666;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
}
.banner-info h1 {
    line-height: 116%;
    margin-top: 28px;
    margin-bottom: 0;
}
.banner-info h1 span {
	color: #FF7B00;
}
.banner-video_play {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #00B8CC;
    border-radius: 16px;
    width: 146px;
    height: 146px;
    padding-top: 7px;
    z-index: 1;
}
.banner-video_play:after {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    border: 8px solid white;
    border-radius: 16px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
}
.banner-video_play-icon {
	position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 100%;
    backdrop-filter: blur(2px);
    width: 60px;
    height: 60px;
    padding-left: 8px;
}
.banner-video_play-icon:after {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    border: 1px solid rgb(255 255 255 / 20%);
    border-radius: 100%;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
}
.banner-video_play:hover .banner-video_play-icon svg {
	transform: scale(.9);
}
.banner-video_play-text {
    color: white;
    font-size: 12px;
    padding-top: 9px;
}
.banner-photo {
	border-radius: 20px;
	width: 447px;
}
.banner-advantages {
    margin-top: 8px;
}
.banner-advantages_list {
    display: flex;
    flex-wrap: wrap;
    min-height: 96px;
    padding: 16px 0;
}
.banner-advantages .banner-video_play {
    display: none;
}
.banner-advantages_item:last-child {
	border-right: 0;
}
.banner-advantages_item.mob {
    display: none;
}
.banner-advantages_item {
    position: relative;
	border-right: 1px solid rgb(102 102 102 / 10%);
    text-align: center;
	width: 33.33%;
    height: 100%;
    padding: 21px 45px;
}
.banner-advantages_item p br {
    display: none;
}

/* Screen Mission */
.mission-wrapper {
	padding-top: 80px;
	padding-right: 60px;
	padding-bottom: 80px;
}
.mission-title {
	position: relative;
}
.mission-title h2 {
    font-weight: 300;
    font-size: 22px;
    line-height: 116%;
    margin: 0;
}
.mission-content {
    display: grid;
    grid-template-columns: auto 359px;
    gap: 0 129px;
}
.mission-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	width: calc(100% - 359px);
    grid-row: 1/2;
    grid-column: 1/3;
}
.mission-bottom p {
    font-weight: 300;
    font-size: 34px;
    line-height: 116%;
    margin-bottom: 29px;
}
.mission-bottom p .line {
    display: inline-flex;
    background: black;
    width: 99px;
    height: 2px;
    margin: 10px 5px;
}
.mission-text {
    font-weight: 500;
    font-size: 70px;
    line-height: 97%; 
}
.mission-text span {
    color: #FF7B00;
}
.mission-list {
	width: 359px;
    grid-row: 1/3;
    grid-column: 2/-1;
}
.mission-list_title {
	margin-bottom: 28px;
}
.mission-advantages {
    max-width: 769px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: end;
}
.mission-advantages .btn3 {
    width: fit-content;
}
.mission-advantages__title {
    font-size: 30px;
    font-weight: 300;
    line-height: 116%;
    letter-spacing: .3px;
}
.list-style6 {
    display: flex;
    gap: 30px;
}
.list-style6 br {
    display: block;
}
.list-style6 li {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding-left: 16px;
    padding-top: 58px;
    max-width: 235px;
    width: 100%;
    display: flex;
    align-items: end;
}
.list-style6 li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: calc(100% - 5px);
    background-color: #666;
    content: '';
    pointer-events: none;
    opacity: .4;
}
.list-style6 li::after {
    position: absolute;
    left: 16px;
    top: 0;
    width: 26px;
    height: 26px;
    background-color: #00B8CC;
    content: '';
    border-radius: 50%;
    background-image: url('../img/check.svg');;
    pointer-events: none;
    background-position: 4px 4px;
    background-repeat: no-repeat;
}
/* Screen Test */
.test-wrapper {
    padding-bottom: 100px;
}
.test-content {
	display: flex;
	flex-wrap: wrap;
}
.test-info {
	width: 57%;
}
.test-head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 96px;
	padding: 25px 52px 25px 60px;
    margin-bottom: 8px;
}
.test-slider {
    counter-reset: list;
    padding: 30px 60px 15px;
}
.test-slider_title {
    position: relative;
    font-size: 19px;
    padding-left: 20px;
    margin-bottom: 24px;
}
.test-slider_title:before {
    content: counter(list) '. ';
    counter-increment: list;
    position: absolute;
    top: 0;
    left: 0;
}
.test-slider_item {
    margin-bottom: 17px;
}
.test-slider_item-input {
    width: 28px;
    height: 28px;
}
.test-slider_item-text {
    width: calc(100% - 28px);
    padding-top: 5px;
}
.test-slider_item-checkmark:before {
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
.test-slider_dots {
	position: relative;
}
.test-slider_counts {
	padding-right: 160px;
}
.test-slider_bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px
}
.test-slider_text {
    color: #AFB0B0;
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
}
.test-slider_btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}
.test-slider_form-bottom .test-slider_btns {
    justify-content: space-between;
    width: 100%;
}
.test-slider_btn-back {
    margin-right: 12px;
}
.test-slider_form-title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 32px; 
}
.test-slider_btn-next, .test-slider_btn-submit {
    padding: 0 44px;
}
.test-photo {
	position: relative;
	display: flex;
    align-items: flex-end;
	border-radius: 24px;
	width: calc(43% - 8px);
	padding: 54px;
	margin-left: 8px;
}
.test-photo:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
    background: #0056A5;
    mix-blend-mode: overlay;
	width: 100%;
	height: 100%;
}
.test-photo p {
    color: white;
    font-weight: 500;
    font-size: 28px;
    line-height: 114%;
}
.test-photo img {
    position: absolute;
    top: 0;
    left: 0;
	z-index: -1;
}

/* Page Programs */
.programs-select_head {
    margin-bottom: 20px;
}
.programs-select_container {
    overflow: hidden;
}
.programs-select_container-wrapper {
    padding-top: 36px;
    padding-bottom: 36px;
}
.programs-select_content {
    display: flex;
    flex-wrap: wrap;
}
.programs-select_catalog {
    position: relative;
    max-width: 904px;
    margin-left: 42px;
}
.programs-select_catalog:after {
    content: '';
    position: absolute;
    top: -36px;
    right: -30px;
    background: #F8F8F8;
    border-radius: 0 24px 24px 0;
    width: calc(100% + 100vw);
    height: calc(100% + 72px);
    z-index: -1;
}
.programs-select_catalog .catalog-list {
    margin: -10px;
}
.programs-select_catalog .catalog-item {
    width: calc(50% - 20px);
    margin: 10px;
}
.page-programs_select .useful-wrapper {
    padding-top: 120px;
    padding-bottom: 0;
}

/* Screen Programs */
.programs-wrapper {
    padding-top: 80px;
	padding-bottom: 126px;
}
.programs-head {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 27px;
}
.programs-title {
	display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.programs-title .sub-title {
    padding-right: 8px;
    padding-bottom: 12px;
}
.programs-title h2 {
	margin: 0;
}
.programs-content {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
}
.programs-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	background: white;
    border-radius: 20px;
    width: calc(33.33% - 8px);
    padding: 47px 36px 43px;
    margin: 4px;
}
.programs-item_head {
	margin-bottom: 16px;
}
.programs-item_sub-title {
    color: #AFB0B0;
	font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 2px;
}
.programs-item_title:hover {
    text-decoration: underline;
}
.programs-item_title {
    font-size: 28px;
    line-height: 36px;
}
.programs-item_desc ul li {
    font-weight: 300;
    line-height: 157%;
    text-transform: lowercase;
}
.programs-item_bottom {
	padding-top: 52px;
}
.programs-item_price {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}
.programs-item_discound {
    text-decoration: line-through;
}
.programs-item_btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 16px;
}
.programs-item_btn {
	height: 54px;
}
.programs-item_link {
    margin-left: 20px;
}
.programs-banner {
    padding: 40px 35px;
    background-color: #00B8CC;
    border-radius: 16px;
    margin: 52px 0;
    background-image: url('../img/programs-banner-bg.svg');
    background-repeat: no-repeat;
    background-position: center right;
}
.programs-banner__alert {
    color: #F8F8F8;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    opacity: 0.7;
    margin-bottom: 24px;
    display: flex;
}
.programs-banner__title {
    color: #FFF;
    font-family: Onest;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-right: 140px;
    padding-bottom: 2rem;
}
.programs-banner__body {
    color: #F8F8F8;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    opacity: 0.7;
    margin-bottom: 24px;
    display: flex;
}
.programs-banner .btn4 {
    margin-top: 72px;
}
.btn4 {
    padding: 12px 28px;
    background-color: white;
    color: #FF7B00;
}
/* Screen Getting */
.getting-wrapper {
	padding-top: 190px;
	padding-bottom: 160px;
}
.getting-title {
	position: relative;
	margin-bottom: 50px;
}
.getting-title .sub-title {
    position: absolute;
    top: 0;
    left: 0;
}
.getting-title h2:first-letter {
	padding-left: 270px;
}
.getting-title h2 {
    font-weight: 300;
    font-size: 22px;
    line-height: 116%;
    margin: 0;
}
.getting-content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	margin-right: -50px;
}
.getting-info {
	width: calc(100% - 437px);
	padding-right: 108px;
}
.getting-desc {
	display: flex;
    flex-wrap: wrap;
}
.getting-desc p:nth-child(even) {
	width: 40%;
	padding-right: 0;
}
.getting-desc p:nth-child(-n+2) {
	padding-top: 0;
}
.getting-desc p {
    color: #666;
    font-weight: 300;
    line-height: 20px;
    width: 60%;
    padding-top: 45px;
    padding-right: 90px;
}
.getting-sample {
	width: 437px;
}
.getting-sample_title {
    color: #FF7B00;
	font-size: 14px;
    padding-bottom: 20px;
}
.getting-sample_photo {
	border-radius: 20px;
    width: 100%;
    height: 415px;
}
.getting-bottom {
	text-align: right;
	margin-top: 99px;
}
.getting-btn {
	height: 54px;
}

/* Screen FKN */
.screen-fkn {
    margin-bottom: 100px;
}
.fkn-wrapper {
    padding-top: 94px;
}
.fkn-main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 300px;
}
.fkn-title {
    margin-bottom: 74px;
}
.fkn-title .sub-title {
    float: left;
    margin-top: 40px;
    margin-right: 10px;
}
.fkn-title h2 {
    font-size: 70px;
    line-height: 97%;
    margin: 0;
}
.fkn-title h2 span {
    color: #FF7B00;
}
.fkn-content {
    width: 63%;
}
.fkn-list {
    margin-bottom: 80px;
}
.fkn-list_title {
    font-weight: 500;
    margin-bottom: 28px;
}
.fkn-photo {
    position: absolute;
    top: 0;
    right: -40px;
    width: 310px;
    height: 626px;
}
.fkn-bottom {
    width: 24%;
    margin-bottom: 20px;
}
.fkn-bottom:before {
    content: '';
    display: block;
    background: #FF7B00;
    border-radius: 100%;
    width: 11px;
    height: 11px;
    margin-bottom: 10px;
}
.fkn-bottom p {
    color: #666;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 28px;
}

/* Screen Faq */
.faq-wrapper {
    padding-bottom: 0px;
}
.faq-head {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 42px;
}
.faq-title {
    flex-wrap: wrap;
    align-items: flex-end;
}
.faq-title .sub-title {
    padding-right: 8px;
    padding-bottom: 12px;
}
.faq-title h2 {
	margin: 0;
}
.faq-head_text {
	font-weight: 300;
	padding-bottom: 5px;
}
.faq-item:last-child {
	margin-bottom: 0;
}
.faq-item.active {
	background: #00B8CC;
}
.faq-item {
	position: relative;
	overflow: hidden;
    background: #f5f5f5;
    border-radius: 16px;
    transition: all .3s;
    min-height: 72px;
    margin-bottom: 8px;
}
.faq-item:before, .faq-item:after {
	content: '';
	position: absolute;
	right: 28px;
	background-size: 100%;
	background-repeat: no-repeat;
	transition: all .3s;
    width: 24px;
}
.faq-item.active:before {
	opacity: 1;
	visibility: visible;
}
.faq-item:before {
	top: 36px;
	opacity: 0;
	visibility: hidden;
	background-image: url('../img/faq-minus.svg');
    height: 1px;
}
.faq-item.active:after {
	opacity: 0;
	visibility: hidden;
}
.faq-item:hover:after {
    transform: scale(.9);
}
.faq-item:after {
	top: 24px;
	background-image: url('../img/faq-plus.svg');
    height: 24px;
}
.faq-item.active .faq-item_title {
	color: white;
	padding-bottom: 18px;
    font-size: 18px;
}
.faq-item:not(.active):hover .faq-item_title {
	text-decoration: none;
}
.faq-item_title {
    position: relative;
	cursor: pointer;
	font-size: 18px;
    line-height: 23px;
	transition: all .3s;
    padding: 24px 64px 24px 40px;
    color: #E80055;
    z-index: 1;
}
.faq-item.active .faq-item_desc {
    opacity: 1;
    visibility: visible;
    height: auto;
    padding-bottom: 30px;
}
.faq-item_desc {
    opacity: 0;
    visibility: hidden;
	transition: all .3s;
    height: 0;
    padding-left: 40px;
    padding-right: 40px;
}
.faq-item_desc p {
	color: white;
}

/* Page Home */
.home .useful-wrapper {
    max-width: 1314px;
    padding: 76px 60px 88px;
}
.home .useful-content {
    margin: 0;
}
.home .useful-block {
    display: flex;
    flex-wrap: wrap;
    margin: -22px -4px;
}
.home .useful-item {
    margin-top: 22px;
    margin-bottom: 22px;
}
.home .faq-wrapper {
    margin-bottom: 0px;
}
.home .useful-link {
    position: absolute;
    right: 60px;
    bottom: 88px;
}

/* Screen Useful */
.useful-title {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 27px;
}
.useful-title h2 {
    font-size: 44px;
    line-height: 56px;
    margin: 0;
}
.useful-title .sub-title {
	margin-bottom: 10px;
}
.useful-title .title-link {
    margin-bottom: 5px;
}
.useful-title .sub-title {
    display: none;
}
.useful-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -30px -4px;
}
.useful-block.useful-articles {
    width: 74%;
    padding-right: 140px;
}
.useful-block.useful-videos {
    flex-direction: column;
    width: calc(27% + 4px);
}
.useful-item.style1 {
    width: 100%;
}
.useful-item.style2 {
    width: calc(50% - 8px);
}
.useful-item.style3 {
    width: calc(100% - 8px);
}
.useful-item.style2 .useful-item_photo {
    height: 318px;
}
.useful-item.style3 .useful-item_photo {
    height: 243px;
}
.useful-item.style4 .useful-item_photo {
    height: 206px;
}
.useful-item {
    width: calc(33.33% - 8px);
    margin: 30px 4px;
}
.useful-item_photo {
	display: block;
	border-radius: 16px;
	height: 190px;
}
.useful-item_photo img {
    position: absolute;
    top: 0;
    left: 0;
}
.useful-item:not(.useful-item_video) .useful-item_photo:after {
	content: '';
	position: absolute;
	top: 12px;
    right: 12px;
	background: white url('../img/useful-arrow.svg') center no-repeat;
	border-radius: 100%;
    width: 34px;
    height: 34px;
}
.useful-item_video .useful-item_photo:before {
    content: '►';
    position: absolute;
    inset: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    backdrop-filter: blur(2px);
    border-radius: 100%;
    color: white;
    font: 20px serif;
    width: 46px;
    height: 46px;
    padding-top: 3px;
    padding-left: 3px;
    margin: auto;
    z-index: 1;
}
.useful-item_tags {
    position: relative;
    padding: 12px 52px 12px 12px;
    z-index: 1;
}
.useful-item_video .useful-item_tags {
    padding-right: 12px;
}
.useful-item_tags2 {
    margin-top: 28px;
}
.useful-item_info {
	padding-top: 8px;
}
.useful-item_date {
    color: #AFB0B0;
    font-size: 12px;
    line-height: 15px;
}
.useful-item_title:hover {
	text-decoration: underline;
}
.useful-item_title {
    font-size: 21px;
    line-height: 27px;
}
.useful-item_desc {
    padding-top: 8px;
}
.useful-item_desc p {
    color: #797979;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
}

/* Screen Request */
.request-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}
.request-content {
    display: flex;
    flex-wrap: wrap;
}
.request-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 540px;
    padding: 0px 40px 20px 0px;
}
.request-form.hide {
    display: none;
}
.request-form_bottom {
    margin-top: 42px;
}
.request-thanks.hide {
    display: none;
}
.request-thanks {
    padding-bottom: 50px;
}
.request-thanks_title {
    font-weight: 500;
    font-size: 40px;
    line-height: 116%;
    margin-bottom: 20px;
}
.request-thanks_title span {
    color: #00B8CC;
}
.request-thanks p {
    color: #666;
    font-weight: 300;
    line-height: 122%;
}
.request-info {
    width: calc(100% - 540px);
    padding-top: 40px;
    padding-left: 8px; 
}
.request-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    height: 370px;
    padding: 52px;
}
.request-photo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #006ACC;
    mix-blend-mode: overlay; 
    width: 100%;
    height: 100%;
}
.request-photo img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.request-title {
    color: white;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
}
.request-desc {
    padding: 10px 52px 31px;
    margin-top: 8px; 
}
.request-desc p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.request-desc p a:hover {
    text-decoration: underline;
}
.request-desc p a {
    color: #E80055;
}
.request-phone:hover {
    opacity: .5;
}
.request-phone {
    font-weight: 300;
    font-size: 60px;
    line-height: 109%;
    transition: all .3s;
}

/* Screen Card Banner */
.card-banner {
    /*display: none;*/
    margin-top: -125px;
    margin-bottom: 65px;
}
.card-banner_content {
    position: relative;
    background: #00B8CC;
    border-radius: 16px;
    padding: 40px 230px 40px 35px;
}
.card-banner_content:after {
    content: '';
    position: absolute;
    top: 0;
    right: -95px;
    bottom: 0;
    background: url('../img/card-banner-icon.svg') no-repeat;
    background-size: 100%;
    width: 300px;
    height: 300px;
    margin: auto 0;
}
.card-banner_sub-title {
    color: #F8F8F8;
    margin-bottom: 24px;
}
.card-banner_info h2, .card-banner_info p {
    color: white;
}
.card-banner_info h2 {
    line-height: 40px;
    margin-bottom: 24px;
}
.card-banner_info p {
    font-size: 27px;
    margin-bottom: 24px;
}
.card-banner_info p a:hover {
    text-decoration: none;
}
.card-banner_info p a {
    color: inherit;
    text-decoration: underline;
}
.card-banner_bottom {
    margin-top: 60px;
}
.card-banner_btn {
    background: #F8F8F8;
    color: #FF7B00;
}

/* Page Card */
.card-breadcrumbs {
    margin-bottom: 56px;
}
.card-title p {
    color: #AFB0B0;
}
.card-tags {
    display: none;
}
.page-card .mission-wrapper {
    padding-top: 85px;
}
.page-card .mission-title {
    margin-right: 10px;
}
.page-card .mission-info {
    width: calc(100% - 463px);
}
.page-card .mission-list {
    width: 463px;
}
.page-card .request-wrapper {
    padding-bottom: 40px;
}
.page-card .useful-wrapper {
    padding-bottom: 40px;
}
.page-card .mission-content {
    grid-template-columns: auto 463px;
    position: relative;
}
/* Screen Analyzes */
.analyzes-wrapper {
    padding-bottom: 96px;
}
.analyzes-head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
}
.analyzes-content {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
}
.analyzes-item {
    position: relative;
    background: #FFF;
    border-radius: 10px;
    width: calc(33.33% - 8px);
    padding: 24px 32px;
    margin: 4px;
}
.analyzes-item_sub-title {
    margin: 0;
}
.analyzes-item_info {
    padding-top: 67px;
}
.analyzes-item_title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 2px;
}
.analyzes-item p {
    font-weight: 300;
    line-height: 20px;
}
.analyzes-item_icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

/* Page Account */
.account-container_wrapper {
    padding-top: 0;
    padding-bottom: 0;
}
.account-head_block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
.account-head_block .breadcrumbs {
    margin: 0;
}   
.account-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.account-title h1 {
    width: calc(100% - 27px);
    padding-right: 20px;
}
.account-title h1 br {
    display: none;
}
.account-exit svg {
    width: 27px;
}
.account-exit:hover svg {
    transform: scale(.9);
}
.account-block:last-child {
    margin-bottom: 0;
}
.account-block {
    padding: 52px 60px;
    margin-bottom: 52px;
}
.account-block_head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 98%;
    margin-bottom: 62px;
}
.account-block_sub-title {
    color: #666;
    font-size: 15px;
    padding-bottom: 7px;
}
.account-block_title {
    font-size: 26px;
    line-height: 97%;
}
.account-block_head-block2 {
    display: flex;
    flex-wrap: wrap;
}
.account-block_head-item:last-child {
    margin-right: 0;
}
.account-block_head-item {
    margin-right: 45px;
}
.account-block_head-item .account-block_sub-title {
    padding-bottom: 10px;
}
.account-block_status.style2 {
    color: #FF7B00;
}
.account-block_list-title {
    padding-bottom: 17px;
}
.account-block_list-content ul {
    counter-reset: list;
}
.account-block_list-content ul li:last-child {
    margin-bottom: 0;
}
.account-block_list-content ul li {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 17px;
}
.account-block_list-content ul li:before {
    content: counter(list, decimal-leading-zero);
    counter-increment: list;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB0B0;
    border-radius: 100%;
    color: #AFB0B0;
    font-size: 13px;
    width: 25px;
    height: 25px;
}
.account-block_list-content ul li a:hover {
    text-decoration: none;
}
.account-block_list-content ul li a {
    font-size: 18px;
    text-decoration: underline;
    width: calc(100% - 37px);
    padding-top: 2px;
    padding-right: 24px;
    margin-left: 12px;
}
.account-block_list-content ul li a:hover:after {
    transform: scale(.9);
}
.account-block_list-content ul li a:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 0;
    background: url('../img/account-list-icon.svg') no-repeat;
    background-size: 100%;
    transition: all .3s;
    width: 17px;
    height: 17px;
}
.account-block_bottom {
    margin-top: 44px;
}
.account-block_btn.style2 {
    background: #666;
}
.account-block_btn {
    padding: 0 46px;
}

/* Page Geography */
.geography-head_wrapper {
    padding-bottom: 50px;
}
.geography-container_wrapper {
    padding-top: 0;
    padding-bottom: 70px;
}
.geography-table_head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 4px;
}
.geography-table_sort-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.geography-table_sort-btn svg {
    margin-left: 6px;
}
.geography-table_alphabet ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.geography-table_alphabet ul li.active a, .geography-table_alphabet ul li a:hover {
    color: #FF7B00;
}
.geography-table_alphabet ul li a {
    color: #AFB0B0;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.12em;
    text-transform: lowercase;
    transition: all .3s;
}
.geography-table_list-block:first-child {
    border-top: 1px solid #AFB0B0;
}
.geography-table_list-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #AFB0B0;
    padding: 24px 0;
}
.geography-table_list-item:nth-child(1) {
    width: 25%;
}
.geography-table_list-item:nth-child(2) {
    justify-content: center;
    width: 45%;
}
.geography-table_list-item:nth-child(3) {
    justify-content: flex-end;
    width: 15%;
}
.geography-table_list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.geography-table_list-city {
    font-weight: 500;
    font-size: 24px;
}
.geography-table_list-email:hover {
    text-decoration: underline;
}
.geography-table_list-email {
    color: #AFB0B0;
    font-size: 18px;
    margin-right: 70px;
}
.geography-table_list-phone:hover {
    text-decoration: underline;
}
.geography-table_list-phone {
    font-size: 18px;
    margin-right: 70px;
}
.geography-table_list-social ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.geography-table_list-social ul li:last-child {
    margin-right: 0;
}
.geography-table_list-social ul li {
    margin-right: 25px;
}
.geography-table_list-social ul li a:hover img {
    opacity: .5;
}
.geography-table_list-social ul li a img {
    transition: all .3s;
}

/* Screen Request2 */
.request2-wrapper {
    padding-left: 88px;
    padding-right: 88px;
    padding-bottom: 0;
}
.request2-content {
    display: flex;
    flex-wrap: wrap;
}
.request2-map {
    border-radius: 24px;
    width: 628px;
}
.request2-map_info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 26px 32px;
}
.request2-map_info span:nth-child(1) {
    margin-left: 13px;
    margin-bottom: -10px;
}
.request2-map_info span:nth-child(2) {
    font-weight: 400;
    font-size: 172px;
    letter-spacing: -0.05em;
}
.request2-map_info span:nth-child(3) {
    position: absolute;
    top: 63px;
    left: 335px;
}
.request2-map_info span {
    display: block;
    color: white;
    font-weight: 500;
    font-size: 40px;
    line-height: 96%;
}
.request2-main {
    position: relative;
    width: calc(100% - 628px);
    padding: 50px 96px;
}
.request2-main:after {
    content: '';
    position: absolute;
    top: 0;
    left: -45px;
    background: #F8F8F8;
    border-radius: 0 24px 24px 0;
    width: calc(100% + 45px);
    height: 100%;
    z-index: -1;
}
.request2-form.hide {
    display: none;
}
.request2-form_content {
    max-width: 459px;
    width: 100%;
    margin: 0 auto;
}
.request2-form_title {
    color: #666;
    font-weight: 300;
    font-size: 15px;
    line-height: 124%;
    max-width: 85%;
    margin-bottom: 32px;
}
.request2-form_bottom {
    margin-top: 32px;
}
.request2-thanks.hide {
    display: none;
}
.request2-thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.request2-thanks_title {
    font-weight: 500;
    font-size: 40px;
    line-height: 116%;
    margin-bottom: 20px;
}
.request2-thanks_title span {
    color: #00B8CC;
}
.request2-thanks p {
    color: #666;
    font-weight: 300;
    line-height: 122.5%;
}
.request2-thanks_close {
    position: absolute;
    top: 32px;
    right: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FF7B00;
    border-radius: 100%;
    width: 41px;
    height: 41px;
}
.request2-thanks_close:hover svg {
    transform: scale(.9);
}

/* Page Article */
.article-banner_photo {
    height: 472px;
}
.article-banner_photo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* background: #006ACC; */
    mix-blend-mode: overlay;
    width: 100%;
    height: 100%;
}
.article-head_wrapper {
    padding-top: 32px;
    padding-bottom: 44px;
}
.article-breadcrumbs {
    margin-bottom: 48px;
}
.article-title {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}
.article-title_block:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 5px;
}
.article-title_block {
    width: 50%;
}
.article-title_date {
    color: #FF7B00;
    font-weight: 300;
    font-size: 14px;
    line-height: 116%;
    padding-bottom: 5px;
}
.page-article .useful-title .sub-title {
    margin: 0;
}

/* Screen Article About */
.article-about_wrapper {
    padding-top: 48px;
    padding-bottom: 10px;
    margin-bottom: -60px;
}
.article-about_content {
    position: relative;
}
.article-about_top {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.article-about_top-info {
    width: calc(100% - 284px);
    padding-right: 54px; 
}
.article-about_top-info h2 {
    font-size: 27px;
    line-height: 126%;
    margin-bottom: 8px; 
}
.article-about_top-info p {
    font-weight: 300;
    line-height: 28px;
}
.article-about_slider {
    position: relative;
    background: white;
    border-radius: 16px;
    height: 197px;
    width: 284px;
    padding: 15px 16px 21px;
}
.article-about_slider-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
}
.article-about_slider .slick-list, .article-about_slider .slick-track, .article-about_slider-item {
    height: 100%;
}
.article-about_slider-item {
    position: relative;
    display: flex!important;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 20px;
}
.article-about_slider-subtitle {
    position: absolute;
    top: 0;
    left: 0;
}
.article-about_slider-link {
    justify-content: flex-start;
    font-weight: 300;
    font-size: 14px;
}
.article-about_slider-item p {
    font-size: 18px;
    line-height: 105%;
    margin-bottom: 8px;
}
.article-about_slider .slick-dots {
    position: absolute;
    top: 18px;
    right: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.article-about_slider .slick-dots li:last-child {
    margin-right: 0;
}
.article-about_slider .slick-dots li {
    margin-right: 10px;
}
.article-about_slider .slick-dots li.slick-active button, .article-about_slider .slick-dots li button:hover {
    background: #FF7B00;
}
.article-about_slider .slick-dots li button {
    background: #E6E6E6;
    border-radius: 100%;
    font-size: 0;
    transition: all .3s;
    width: 9px;
    height: 9px;
}
.article-about_desc p:last-child {
    margin-bottom: 0;
}
.article-about_desc p {
    font-weight: 300;
    margin-bottom: 20px;
}
.article-about_desc ul {
    margin-bottom: 20px;
}
.article-about_desc ul li {
    font-weight: 300;
    line-height: 155%;
}
.article-about_desc ul li:before {
    content: '•';
    margin-right: 10px;
}

/* Screen Facts */
.facts-wrapper {
    background: white;
    padding-top: 120px;
    padding-bottom: 184px;
}
.facts-title h2 {
    font-size: 27px;
    line-height: 126%;
}
.facts-list ul li {
    padding-left: 65px;
}
.facts-desc {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}
.facts-desc p:nth-child(odd) {
    width: calc(51% - 80px);
    padding-left: 50px;
}
.facts-desc p:nth-child(even) {
    width: calc(49% - 80px);
}
.facts-desc p {
    font-weight: 300;
    font-size: 22px;
    line-height: 129%;
    margin: 0; 
}
.screen-facts h2:first-child {
    margin-top: 0;
}
.screen-facts h2 {
    font-size: 30px;
    margin-top: 40px;
}
.screen-facts ul:not(.list-style1):first-child, .screen-facts ol:not(.list-style1):first-child {
    margin-top: 0;
}
.screen-facts ul:not(.list-style1):last-child, .screen-facts ol:not(.list-style1):last-child {
    margin-bottom: 0;
}
.screen-facts ul:not(.list-style1), .screen-facts ol:not(.list-style1) {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
}
.screen-facts ul:not(.list-style1) {
    margin-left: 30px;
}
.screen-facts ul:not(.list-style1) li {
    padding: 10px 0 10px 15px;
}
.screen-facts ul:not(.list-style1) li:before {
    content: '•';
    position: absolute;
    top: 10px;
    left: 0;
    color: #AFB0B0;
    font-size: 20px;
}
.screen-facts ol:not(.list-style1) {
    counter-reset: list;
    border-bottom: 1px solid rgb(102 102 102 / 40%);
}
.screen-facts ol:not(.list-style1) li {
    border-top: 1px solid rgb(102 102 102 / 40%);
    min-height: 52px;
}
.screen-facts ol:not(.list-style1) li {
    padding: 15px 0 15px 35px;
}
.screen-facts ol:not(.list-style1) li:before {
    content: counter(list, decimal-leading-zero);
    counter-increment: list;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB0B0;
    border-radius: 100%;
    color: #AFB0B0;
    font-size: 12px;
    width: 26px;
    height: 26px;
    margin: auto 0;
}
.screen-facts p:last-child {
    margin-bottom: 0;
}
.screen-facts p {
    margin-bottom: 20px;
}

/* Banner Gift */
.banner-gift_wrapper {
    padding-top: 18px;
    padding-bottom: 40px;
}
.banner-gift_content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 72px 80px 65px 50px;
}
.banner-gift_info, .banner-gift_cards {
    width: 50%;
}
.banner-gift_info h1 {
    font-size: 60px;
    line-height: 105%;
    letter-spacing: -0.6px;
    margin-bottom: 20px;
}
.banner-gift_info p {
    font-size: 20px;
    line-height: normal;
}
.banner-gift_info p br {
    display: block;
}
.banner-gift_btn {
    margin-top: 30px;
}
.banner-gift_cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 25px;
    z-index: 1;
}
.banner-gift_cards:after {
    content: '';
    position: absolute;
    top: -53px;
    right: 10px;
    background: url('../img/banner-gift-bg.svg') no-repeat;
    background-size: 100%;
    width: 377px;
    height: 324px;
    z-index: -1;
}
.banner-gift_cards-item:nth-child(1) {
    top: -40px;
    right: 265px;
    transform: scale(0.7) rotate(-17deg);
}
.banner-gift_cards-item:nth-child(2) {
    transform: rotate(17deg);
}
.banner-gift_cards-item {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background: #00B8CC;
    border-radius: 15px;
    text-align: center;
    width: 155px;
    min-height: 250px;
    padding: 14px 12px 52px;
}
.banner-gift_cards-item:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    background: #E80055 url(../img/heart-icon.svg) center no-repeat;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}
.banner-gift_cards-logo img {
    max-width: 73px;
}
.banner-gift_cards-price {
    color: white;
    font-size: 29px;
    font-weight: 500;
    letter-spacing: -1.5px;
    padding-top: 30px;
    padding-bottom: 22px;
}
.banner-gift_cards-desc {
    border-top: 1px solid rgb(255 255 255 / 50%);
    color: white;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    padding-top: 7px;
}

/* Screen Conditions */
.conditions-wrapper {
    padding-top: 40px;
    padding-bottom: 0;
}
.conditions-content {
    padding: 46px 36px 36px 50px;
}
.conditions-title h2 {
    font-size: 40px;
    letter-spacing: -0.4px;
    margin-bottom: 30px;
}
.conditions-advantages ul {
    column-count: 2;
}
.conditions-advantages ul li {
    page-break-inside: avoid;
    break-inside: avoid;
    font-size: 18px;
    min-height: 32px;
    padding-left: 48px;
    padding-right: 25px;
    margin-bottom: 19px;
}
.conditions-advantages ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #E80055 url('../img/checkmark-icon.svg') center no-repeat;
    border-radius: 100%;
    width: 32px;
    height: 32px;
}
.conditions-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 63px;
}
.conditions-desc {
    width: calc(100% - 392px);
    padding-right: 90px;
}
.conditions-desc p:last-child {
    margin-bottom: 0;
}
.conditions-desc p {
    font-size: 20px;
    line-height: 135%;
    margin-bottom: 12px;
}
.conditions-desc p a:hover {
    text-decoration: underline;
}
.conditions-photo {
    border-radius: 20px;
    width: 392px;
    height: 234px;
}

/* Screen Reviews Banner */
.reviews-banner_wrapper {
    padding-top: 18px;
    padding-bottom: 26px;
}
.reviews-banner_content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 72px 55px 65px 50px;
}
.reviews-banner_info, .reviews-banner_messages {
    width: 50%;
}
.reviews-banner_info h1 {
    font-size: 60px;
    line-height: 105%;
    letter-spacing: -0.6px;
    margin-bottom: 20px;
}
.reviews-banner_info p {
    font-size: 20px;
    line-height: normal;
}
.reviews-banner_btn {
    margin-top: 30px;
}
.reviews-banner_messages {
    position: relative;
    margin-top: 60px;
    z-index: 1;
}
.reviews-banner_messages:after {
    content: '';
    position: absolute;
    top: -90px;
    right: 30px;
    background: url('../img/reviews-banner-messages-bg.svg') no-repeat;
    background-size: 100%;
    width: 377px;
    height: 324px;
    z-index: -1;
}
.reviews-banner_messages-item:nth-child(1) {
    right: 205px;
    width: 268px;
}
.reviews-banner_messages-item:nth-child(2) {
    right: 0;
    width: 205px;
    margin-top: 100px;
}
.reviews-banner_messages-item {
    position: absolute;
    background: #00B8CC;
    border-radius: 9px;
    padding: 12px 16px;
}
.reviews-banner_messages-item p {
    color: white;
    font-weight: 500;
    line-height: normal;
}

/* Screen Reviews Main */
.reviews-main_wrapper {
    padding-top: 26px;
    padding-bottom: 0;
}
.reviews-main_item:last-child {
    margin-bottom: 0;
}
.reviews-main_item {
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    padding: 24px 32px;
    margin-bottom: 16px;
}
.reviews-main_name {
    font-size: 20px;
    font-weight: 500;
    line-height: 105%;
    letter-spacing: -0.2px;
    margin-bottom: 8px;
}
.reviews-main_date {
    color: #808080;
    font-size: 14px;
    letter-spacing: -0.28px;
}
.reviews-main_desc {
    padding-top: 12px;
}
.reviews-main_desc p {
    font-size: 16px;
    line-height: normal;
}
.reviews-main_reply {
    font-size: 16px;
    letter-spacing: -0.32px;
    margin-top: 12px;
}
.reviews-main_reply-name {
    color: #E80055  ;
    font-weight: 500;
}
.reviews-main_bottom {
    height: 46px;
    margin-top: 32px;
}
.reviews-main_btn-wr {
    position: absolute;
    text-align: center;
    width: 100%;
}
.reviews-main_btn {
    z-index: 2;
}
.reviews-main_pagination {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6.5px 0;
}
.reviews-main_pagination .page-numbers:last-child {
    margin-right: 9;
}
.reviews-main_pagination .page-numbers.current {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #00B8CC;
    border-radius: 100%;
    color: white;
    width: 33px;
    height: 33px;
}
.reviews-main_pagination .page-numbers:not(.current):hover {
    color: black;
}
.reviews-main_pagination .page-numbers {
    color: #BABABA;
    font-size: 18px;
    transition: all .3s;
    margin-right: 11px;
}

.field:read-only {
    background-color: #f3f3f3;
}
